* {
    padding: 0;
    margin: 0;
    text-align: center;
}

body {
    /* height: 100%; */
    display: grid;
    border: none;
    text-transform: uppercase;
    background-color: #000;
    font-family: sans-serif;
}

button {
    padding: 100px;
    border: none;
    text-transform: uppercase;
    color: steelblue;
}

.container {
    width: 70%;
    margin: 0 auto;
}

header {
    background-color: steelblue;
}

header > .container > h1 {
    color: #fff;
}

nav {
    background-color: #fff;
}

nav > .container {
    display: grid;
    grid-template-columns: auto 1fr repeat(2, auto);
}

nav > .container > button {
    padding: 10px 15px;
    background-color: #fff;
    font-weight: 600;
}

nav > .container > button:hover {
    background-color: steelblue;
    color: #fff;
}

nav > .container > button#newColors {
    justify-self: start;
}

#message {
    color: #444;
    font-size: 19px;
    align-self: center;
}

main {
    height: 630px;
    display: grid;
}

main > .container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    grid-gap: 10px;
    justify-content: center;
    align-content: center;
}

main > .container > button {
    transition: background 0.6s;
    border: none;
}

button:focus {outline:0;}

